body {
    background-image: url("NY3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color:rgb(209, 209, 236);
}
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.heading {
    display: flex;
    justify-content: center;  
}
h1 {
    font-size: 70px;
    background: linear-gradient(to left,#703660,#be0735ce,#d80521);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    filter: drop-shadow(4px 4px 4px rgb(181, 140, 206));
    font-family: 'Lobster Two', cursive;
    margin-top: 70px;
}
.container {
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
}
.christmas {
    background-color: rgba(251, 248, 249, 0.82);
    opacity: 80%;
    height: 300px;
    width: 200px;
    margin-top: 50px;
    border: none;
    border-radius: 30px;
    color:rgb(24, 53, 58);
}
.block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px; 
    text-shadow: 4px 4px 4px rgb(138, 137, 135);
}
.days, .hours, .minutes, .seconds {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px; 
    text-shadow: 3px 3px 4px rgb(138, 137, 135);
}
.NY {
    font-size: 90px;
    border: none;
    font-family: 'Great Vibes', cursive;
    background: linear-gradient(to left,#8d4679,#d30438ce,#ec0b29);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    filter: drop-shadow(4px 4px 4px rgb(181, 140, 206));
}
.music {
    display: flex;
}
#myButton {
    margin-left: 80px;
    border: none;
    border-radius: 10px;
    opacity: 80%;
    cursor: pointer;    
}
#myButtonTwo {
    margin-left: 30px;
    border: none;
    border-radius: 10px;
    opacity: 80%;
    cursor: pointer;    
}
@media all and (max-width: 900px) {
    #myButton {
        margin-left: 40px;
    }
    #myButtonTwo {
        margin-left: 20px;
    }
.NY {
    font-size: 80px;
}
}
@media all and (max-width: 800px) {
h1  {
    font-size: 50px;
    margin-left: 50px;
    margin-top: 40px;
}
h3 {
    font-size: 25px;
}
.days, .hours, .minutes, .seconds {
    font-size: 35px;
}
.NY {
    font-size: 70px;
}
#myButton {
    margin-left: 50px;
}
#myButtonTwo {
    margin-left: 20px;
}
}
@media all and (max-width: 500px) {
h1  {
    font-size: 40px;
    margin-left: 35px;
    margin-top: 30px;
    }
h3 {
    font-size: 20px;
}
.days, .hours, .minutes, .seconds {
    font-size: 30px;
}
.NY {
    font-size: 50px;
}
#myButton {
    margin-left: 80px;
}
#myButtonTwo {
    margin-left: 50px;
}
}
@media all and (max-width: 400px) {
    h1  {
        font-size: 40px;
        margin-left: 35px;
        margin-top: 30px;
        }
    h3 {
        font-size: 20px;
    }
    .days, .hours, .minutes, .seconds {
        font-size: 30px;
    }
    .NY {
        font-size: 35px;
    }
    #myButton  {
        margin-left: 75px;
    }
    #myButtonTwo {
        margin-left: 50px;
    }
}
@media all and (max-width: 300px) {
    #myButton {
        margin-left: 40px;
    }
    #myButtonTwo {
        margin-left: 15px;
    }
    .NY {
    font-size: 30px;
    }
}